.card {
    transition: all 0.2s ease-in-out;
}

.card:hover  {
    transform: scale(1.05);
}
.list-group-item:hover{
  color: orangered;

}
.list-group-item {
font-size: small;
font-family: sans-serif;
}
