@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Ubuntu:wght@300;400&display=swap');
 


body {
  background-color: rgb(255, 255, 255);
  font-family: 'Ubuntu', sans-serif !important;
    font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #dfddddea;
}


.shimmer-container , .homecard{
  transition: all 0.2s ease-in-out;


}
.link {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.shimmer-card:hover , .homecard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(33, 33, 33, .2);
}

.list-group-item,.link:hover {
  color: orangered;
  text-decoration: none;

}


.list-group-item {
  font-size: small;
  font-family: sans-serif;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 180px;
}

.shimmer-card {
  width: 320px;
  height: 350px;
  background-color: #dfddddea;
  margin: 22px;

}
.homecard {
  width: 320px;
  height: 350px;
  background-color: #dfddddea;
  margin: 22px;
}



